.logo {
    width: 400px;
}
body {
    color: #DB86B8;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    background-color: white;
}

.title {
    font-size: 50px;
    background-color: #007DC2;
    font-weight: 800;
    padding: 0 20px;
}
.start-button {
    background-color: lightpink;
    border-style: solid;
     font-family: 'Paytone One', sans-serif;
}
.button {
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
    font-weight: 800;
}


.firstImage {
    height: 350px;
}

.start-button {
    height: 40px;
}

/* Check out `display:none`. What do you think it does?*/
.treasure {
    display: none;
    font-family: 'Coiny', cursive;
}

.secondImage {
    display: none;
}
.treasure-img {
    height: 300px;
}

h1 {
    font-size: 50px;
}